@model IEnumerable<Garage_2._5.Models.VehicleViewModel>

@{
    ViewBag.Title = "Index";
}
@using (Ajax.BeginForm("Index", new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "OurTableDiv",
                                    HttpMethod = "GET"
                                }))
{
    @Html.DropDownList("VehicleTypeId")
    @Html.TextBox("RegNr")
    <button type="submit" class="btn btn-default">Search</button>
}
<div id="OurTableDiv">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Detailed list", "DetailedList")
        @Html.ActionLink("Create new Vehicle", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>