@model Garage_2._5.ViewModels.VehicleTypeViewModel

@{
    ViewBag.Title = "TypeDetails";
}

<h2>TypeDetails</h2>

<div>
    <h4>VehicleType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles.VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicles.Owner)
        </th>

    </tr>

    @foreach (var item in Model.Vehicles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>

        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to Index", "Index")
</p>
