@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/LoginStyle.css")
</head>
<body>
    <div>
        @Html.ActionLink("Login to garage", "Login", "Home", null, new { @class = "btn btn-primary btn-lg", role = "button", id = "loginbutton" })
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">

        $('#loginbutton').click(function () {
            window.opener.login();
            window.close();
            setTimeout(function () {

            }, 2000);

        });

    </script>
</body>
</html>

